{{#if @powerSelect.Status.isLoading}}
	{{#if @loadingMessage}}
		<TwyrProgressCircular/>
	{{/if}}
{{/if}}

{{#if @isGroup}}
	{{#let (component @optionsComponent) as |Options|}}
		{{#each @options as |Option index|}}

		{{#if (twyr-power-select-is-group Option)}}
			<md-optgroup
				class="twyr-power-select-group"
				aria-disabled={{if @group.disabled "true"}}
			>
				<label class="twyr-power-select-group-name">{{Option.groupName}}</label>
				<Options
					class="twyr-power-select-options"
					role="group"

					@extra={{@extra}}
					@groupIndex="{{@groupIndex}}{{index}}."
					@isGroup={{true}}
					@options={{Option.options}}

					@groupComponent={{@groupComponent}}
					@optionsComponent={{@optionsComponent}}

					@powerSelect={{@powerSelect}}
					as |Opts|
				>
					{{yield Opts @powerSelect}}
				</Options>
			</md-optgroup>
		{{else}}
			<TwyrSelect::Option
				class="twyr-power-select-option"
				role="option"
				tabindex={{if Option.disabled "-1" "0"}}

				aria-current="{{eq Option @powerSelect.Options.highlightedOption}}"
				aria-disabled={{if Option.isDisabled "true" "false"}}
				aria-selected="{{twyr-power-select-is-selected Option @powerSelect.Options.selected}}"

				data-option-index="{{@groupIndex}}{{index}}"
			>
				{{yield Option @powerSelect}}
			</TwyrSelect::Option>
		{{/if}}

		{{/each}}
	{{/let}}
{{else}}
	<md-content
		class="twyr-power-select-options"
		role={{this.role}}
		aria-controls="twyr-power-select-trigger-{{@powerSelect.id}}"

		{{did-insert this.didInsert}}
	>
		{{#let (component @optionsComponent) as |Options|}}
			{{#each @options as |Option index|}}

			{{#if (twyr-power-select-is-group Option)}}
				<md-optgroup
					class="twyr-power-select-group"
					aria-disabled={{if @group.disabled "true"}}
				>
					<label class="twyr-power-select-group-name">{{Option.groupName}}</label>
					<Options
						class="twyr-power-select-options"
						role="group"

						@extra={{@extra}}
						@groupIndex="{{@groupIndex}}{{index}}."
						@isGroup={{true}}
						@options={{Option.options}}

						@optionsComponent={{@optionsComponent}}
						@groupComponent={{@groupComponent}}

						@powerSelect={{@powerSelect}}
						as |Opts|
					>
						{{yield Opts @powerSelect}}
					</Options>
				</md-optgroup>
			{{else}}
				<TwyrSelect::Option
					class="twyr-power-select-option"
					role="option"
					tabindex={{if Option.isDisabled "-1" "0"}}

					aria-current="{{eq Option @powerSelect.Options.highlightedOption}}"
					aria-disabled={{if Option.isDisabled "true" "false"}}
					aria-selected="{{twyr-power-select-is-selected Option @powerSelect.Options.selected}}"

					data-option-index="{{@groupIndex}}{{index}}"
				>
					{{yield Option @powerSelect}}
				</TwyrSelect::Option>
			{{/if}}

			{{/each}}
		{{/let}}
	</md-content>
{{/if}}