<md-checkbox
	class="md-checkbox md-default-theme"
	role={{this.role}}
	aria-checked={{this.ariaChecked}}
	aria-label={{@ariaLabel}}
	aria-labelledby={{this.labelId}}
	{{requires-id}}
	{{has-class-if this.isChecked "md-checked"}}
	{{has-class-if @indeterminate "md-indeterminate"}}
	{{did-insert this.didInsert}}
	{{color-themeable
		accent=@accent
		primary=@primary
		secondary=@secondary
		warn=@warn
	}}
	{{is-focusable
		focusOnlyOnKey=this.focusOnlyOnKey
		onMouseEnter=@onMouseEnter
		onMouseLeave=@onMouseLeave
		onMouseDown=@onMouseDown
		onMouseUp=@onMouseUp
		onFocusIn=@onFocusIn
		onFocusOut=@onFocusOut
	}}
	{{will-ripple
		rippleContainerSelector=@rippleContainerSelector
		center=@rippleCenter
		dimBackground=@dimRippleBackground
		fitRipple=@fitRipple
		inkColor=@rippleInkColor
		noInk=@noRippleInk
	}}
	{{on "click" this.handleClick}}
	{{on "keypress" this.handleKeypress}}
	...attributes
>
	<div class="md-container">
		<div class="md-icon"></div>
	</div>

	{{#if (has-block)}}
		<div class="md-label">
			<span id={{this.labelId}}>
				{{yield}}
			</span>
		</div>
	{{else}}
		<div class="md-label">
			<span id={{this.labelId}}>
				{{@label}}
			</span>
		</div>
	{{/if}}
</md-checkbox
>