{{#if this.shouldShowLabel}}
	<label for="{{@dropdownId}}" class={{if @required "md-required"}}>
		{{@label}}
	</label>
{{/if}}

<TwyrBasicDropdown::Trigger @htmlTag="md-autocomplete"
	class={{if @label "md-floating-label"}}
	md-floating-label={{if @label @label}}
	tabindex="-1"

	@eventType={{@eventType}}

	@dropdownId={{@dropdownId}}
	@dropdownControls={{@dropdownControls}}
	@dropdownStatus={{@dropdownStatus}}

	@renderInPlace={{@renderInPlace}}

	@position={{@position}}
	@otherStyles={{@otherStyles}}

	@xAlign={{@xAlign}}
	@yAlign={{@yAlign}}

	@registerWithDropdown={{@registerWithDropdown}}

	...attributes
>
	{{yield}}
</TwyrBasicDropdown::Trigger>