<TwyrBasicDropdown
	@contentComponent={{this.subComponents.ContentComponent}}
	@triggerComponent={{this.subComponents.TriggerComponent}}

	@calculatePosition={{this.calculatePosition}}

	@onClose={{this.close}}
	@onOpen={{this.open}}

	...attributes

	as |BasicDropdown|
>
	{{yield (hash
		Trigger=BasicDropdown.Trigger
		Content=BasicDropdown.Content
	)}}
	<span class="d-none" {{did-insert (fn this.didInsert BasicDropdown)}}></span>
</TwyrBasicDropdown>
