<div {{did-insert this.didInsert}}>
	{{#if this._renderTooltip}}
		{{#-in-element this.destinationElement}}
			<div class="md-panel-outer-wrapper md-panel-is-showing" style={{this.containerStyle}}>
				<TwyrTooltip::Inner
					@position={{this.position}}
					@anchorElement={{this.anchorElement}}
					@hide={{this._hideTooltip}}
					@updateHide={{this.updateHideTooltip}}
					...attributes
				>
					{{yield}}
				</TwyrTooltip::Inner>
			</div>
		{{/-in-element}}
	{{/if}}
</div>