<button type="button"
	class="md-default-theme md-button"
	{{has-class-if @raised "md-raised"}}
	{{has-class-if (or @fab @mini) "md-fab"}}
	{{has-class-if @mini "md-mini"}}
	{{has-class-if @icon "md-icon-button"}}
	{{did-insert this.didInsert}}
	{{css-transition "ng"}}
	{{color-themeable
		accent=@accent
		primary=@primary
		secondary=@secondary
		warn=@warn
	}}
	{{is-focusable
		focusOnlyOnKey=@focusOnlyOnKey
		onMouseEnter=@onMouseEnter
		onMouseLeave=@onMouseLeave
		onMouseDown=@onMouseDown
		onMouseUp=@onMouseUp
		onFocusIn=@onFocusIn
		onFocusOut=@onFocusOut
	}}
	{{will-ripple
		rippleContainerSelector=@rippleContainerSelector
		center=@rippleCenter
		dimBackground=@dimRippleBackground
		fitRipple=@fitRipple
		inkColor=@rippleInkColor
		noInk=@noRippleInk
	}}
	{{on "click" this.handleClick}}
	...attributes
>
	{{#if (has-block)}}
		{{yield}}
	{{else}}
		{{@label}}
	{{/if}}
</button>