{{#if @dropdownStatus.isOpen}}
	<div class="twyr-basic-dropdown-content-wormhole-origin">
		{{#maybe-in-element this.destinationElement @renderInPlace}}
			{{#if @overlay}}
				<div class="twyr-basic-dropdown-overlay"></div>
			{{/if}}

			{{#let (element (or @htmlTag "div")) as |Element|}}
				<Element
					id="twyr-basic-dropdown-content-{{@dropdownId}} {{this.animationClass}}"
					class="twyr-basic-dropdown-content"
					style={{this.computedStyle}}
					dir={{@dir}}

					{{has-class-if (and @xAlign (not @dropdownStatus.isDisabled)) (concat "twyr-basic-dropdown-content--" @xAlign)}}
					{{has-class-if (and (not-eq @xAlign @yAlign) (not @dropdownStatus.isDisabled)) (concat "twyr-basic-dropdown-content--" @yAlign)}}
					{{has-class-if (and @renderInPlace (not @dropdownStatus.isDisabled)) "twyr-basic-dropdown-content--in-place"}}

					{{did-insert this.didInsert}}
					{{did-update this.didReceiveArgs @dropdownId}}
					{{did-mutate this.didMutate attributes=false childList=true subtree=true}}
					{{will-destroy this.willTeardown}}

					...attributes
				>
					{{yield}}
				</Element>
			{{/let}}
		{{/maybe-in-element}}
	</div>
{{else}}
	<div
		id="twyr-basic-dropdown-content-{{@dropdownId}}"
		class="twyr-basic-dropdown-content-placeholder"
		style="display:none;"

		{{did-insert this.didReceiveArgs}}
		{{did-update this.didReceiveArgs @dropdownId}}
	>
	</div>
{{/if}}
