<md-radio-button
	class="md-default-theme"
	role={{this.role}}
	aria-checked={{this.ariaChecked}}
	aria-label={{@ariaLabel}}
	aria-labelledby={{this.labelId}}
	{{requires-id}}
	{{has-class-if this.isChecked "md-checked"}}
	{{has-class-if @secondary "md-secondary"}}
	{{did-insert this.didInsert}}
	{{color-themeable
		accent=@accent
		primary=@primary
		secondary=@secondary
		warn=@warn
	}}
	{{is-focusable
		focusOnlyOnKey=this.focusOnlyOnKey
		onMouseEnter=@onMouseEnter
		onMouseLeave=@onMouseLeave
		onMouseDown=@onMouseDown
		onMouseUp=@onMouseUp
		onFocusIn=@onFocusIn
		onFocusOut=@onFocusOut
	}}
	{{will-ripple
		center=@rippleCenter
		dimBackground=@dimRippleBackground
		noInk=@noRippleInk
		inkColor=@rippleInkColor
	}}
	{{on "click" this.handleClick}}
	...attributes
>
	<div class="md-container">
		<div class="md-off" />
		<div class="md-on" />
	</div>

	{{#if (has-block)}}
		<div class="md-label">
			<span>
				{{yield}}
			</span>
		</div>
	{{else}}
		<div class="md-label">
			<span>
				{{@label}}
			</span>
		</div>
	{{/if}}
</md-radio-button>
