<TwyrContent
	id="title"
	class="text-warn"
	@padding={{true}}
	@layoutPadding={{false}}
	@scrollY={{false}}
>
	Welcome to Ember
</TwyrContent>
<TwyrDivider />

<TwyrCard as |Card|>
	<Card.Header id="twyr-dialog-container" as |Header|>
		<Header.Avatar>
			<img src="https://azure.plant.works/img/logo.png" alt="Plant.Works" />
		</Header.Avatar>
		<Header.Text as |Text|>
			<Text.Title>Title</Text.Title>
			<Text.Subhead>subhead</Text.Subhead>
		</Header.Text>
	</Card.Header>

	<Card.Title class="mb-2" as |Title|>
		<Title.Text as |Text|>
			<Text.Headline class="layout-row layout-align-start-center">
				<TwyrIcon @icon="all-out" @primary={{true}} @spin={{true}} />
				<TwyrContent class="ml-2 flex">In-card mixed actions</TwyrContent>
			</Text.Headline>
			<Text.Subhead>Description</Text.Subhead>
		</Title.Text>
	</Card.Title>

	<TwyrDivider />
	<Card.Content class="flex layout-row position-relative p-0">
		<TwyrSidenav
			id="twyr-dialog-close-area"
			@name="left2"
			@open={{false}}
			@closeOnClick={{false}}
			@lockedOpen={{true}}
			@onToggle={{this.onToggleSidenav}}
		>
			<TwyrContent class="flex layout-column layout-align-center-center" @padding={{true}}>
				<TwyrProgressCircular @warn={{true}} @diameter={{100}} @value={{69}} disabled={{this.isOpaque}} />
			</TwyrContent>
		</TwyrSidenav>
		<div class="flex layout-column layout-align-start-stretch">
			<TwyrTabs
				@borderBottom={{true}}
				@selected={{this.selectedTabValue}}
				@stretch={{this.isOpaque}}
				@onChange={{this.changeSelectedTab}}
				as |Tabs|
			>
				<Tabs.Tab @value="one" @name="Tab One" />
				<Tabs.Tab @value="two" @name="Page Two (Disabled)" disabled />
				<Tabs.Tab @value="three" @name="Tab Three" />
			</TwyrTabs>
			<TwyrList>
				<TwyrItem
					as |Controls|
				>
					<p>Click anywhere to fire the primary action, or the controls to fire the secondary</p>
					<div class="md-secondary-container">
						<Controls.Button @accent={{true}} @raised={{true}} @onClick={{this.onReset}}>
							Action 2
						</Controls.Button>
					</div>
				</TwyrItem>

				<TwyrItem
					@onClick={{this.onItemClicked}}
					as |Controls|
				>
					<p>Click anywhere to fire the primary action, or the controls to fire the secondary</p>
					<div class="md-secondary-container">
						<Controls.Checkbox class="mb-0" @value={{this.checkBoxValue}} @onChange={{this.changeCheckboxValue}}></Controls.Checkbox>
					</div>
				</TwyrItem>

				<TwyrItem as |Controls|>
					<p>Click anywhere to fire the primary action, or the controls to fire the secondary</p>
					<div class="md-secondary-container">
						<Controls.Switch @value={{this.checkBoxValue}} @onChange={{this.changeCheckboxValue}} disabled={{this.isOpaque}}>
							{{this.checkBoxValue}}
						</Controls.Switch>
					</div>
				</TwyrItem>

				<TwyrItem>
					<p>Click anywhere to fire the primary action, or the controls to fire the secondary</p>
					<div class="md-secondary-container">
						<TwyrRadioGroup class="flex layout-row layout-align-end-center px-4" @groupValue={{this.selectedFruit}} @onChange={{this.changeSelectedFruit}} as |Group|>
							<Group.Button @value="Banana" @warn={{true}}>Banana</Group.Button>
							<Group.Button @value="Apple" @primary={{true}}>Apple</Group.Button>
							<Group.Button @value="Mango" disabled>Mango</Group.Button>
						</TwyrRadioGroup>
					</div>
				</TwyrItem>
			</TwyrList>
			<TwyrProgressLinear @primary={{true}} />
		</div>
	</Card.Content>
	<TwyrDivider />

	<Card.Actions class="mt-2 layout-row layout-align-start-center">
		<TwyrButton @primary={{true}} @raised={{true}} @onClick={{fn this.onShowDialogWithParent "open"}}>
			Show Dialog
			<TwyrTooltip>
				Will open a TwyrDialog!
			</TwyrTooltip>
		</TwyrButton>
	</Card.Actions>
</TwyrCard>

<LiquidOutlet @class="layout-column layout-align-start-stretch" />

{{#if this.showDialogWithParent}}
	<TwyrDialog
		class="text-red"
		@openFrom="#twyr-dialog-container"
		@closeTo="#twyr-dialog-close-area"
		@clickOutsideToClose={{true}}
		@fullscreen={{true}}
		@onClose={{fn this.onShowDialogWithParent "cancel"}}
	>
		<TwyrToolbar @primary={{true}} as |Toolbar|>
			<Toolbar.Tools>
				<h2>Twy&apos;r</h2>
				<span class="flex"></span>
				<TwyrButton @icon={{true}} @onClick={{fn this.onShowDialogWithParent "cancel"}}>
					<TwyrIcon @icon="close" />
				</TwyrButton>
			</Toolbar.Tools>
		</TwyrToolbar>

		<TwyrDialog::Content class="layout-column layout-align-start-stretch">
			<TwyrSubheader>This is a dialog rendered into a specific element. Clicking outside the dialog will close it.</TwyrSubheader>
			<TwyrInput @class="flex" @label="Name" @placeholder="Enter name" @warn={{true}} @maxLength={{24}} @value={{this.selectedTabValue}} @onChange={{this.changeSelectedTab}} />
		</TwyrDialog::Content>

		<TwyrDialog::Actions class="layout-row">
			<span class="flex"></span>
			<TwyrButton @warn={{true}} @raised={{true}} @onClick={{fn this.onShowDialogWithParent "cancel"}}>Cancel</TwyrButton>
			<TwyrButton @primary={{true}} @raised={{true}} @onClick={{fn this.onShowDialogWithParent "ok"}}>OK</TwyrButton>
		</TwyrDialog::Actions>
	</TwyrDialog>
{{/if}}