{{#if this.shouldShowLabel}}
	<label for="{{@dropdownId}}" class={{if @required "md-required"}}>
		{{@label}}
	</label>
{{/if}}

<TwyrBasicDropdown::Trigger @htmlTag="md-select"
	@eventType="click"

	@dropdownId={{@dropdownId}}
	@dropdownControls={{@dropdownControls}}
	@dropdownStatus={{@dropdownStatus}}

	@renderInPlace={{@renderInPlace}}

	@position={{@position}}
	@otherStyles={{@otherStyles}}

	@xAlign={{@xAlign}}
	@yAlign={{@yAlign}}

	@registerWithDropdown={{@registerWithDropdown}}

	...attributes
>
	{{yield}}
</TwyrBasicDropdown::Trigger>